.main {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center top;
  color: #fff;
  padding: 0 3%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  background: linear-gradient(to right, #c139f1, #03fadc);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 600;
  font-size: 80px;
}

.contentUpperText {
  color: #00e8dd;
  text-transform: uppercase;
  font-size: 18px;
}

.contentLowerText {
  font-size: 18px;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.iphone {
  margin-top: 100px;
  height: auto;
  width: 800px;
}

.button {
  width: 218px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #c139f1, #03fadc);
  letter-spacing: 1px;
  margin-top: 70px;
}

@media (max-width: 1547px) {
  .iphone {
    height: auto;
    width: 600px;
  }
}
@media (max-width: 1215px) {
  .iphone {
    height: auto;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
  .iphone {
    height: auto;
    width: 100%;
  }
  .contentText {
    margin-top: 200px;
  }
  .main {
    height: auto;
  }
  .title {
    font-size: 50px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
